
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    background: #f5f5f5;
}

.tools {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    border-right: 1px solid #ccc;
    background: #fff;

    h2 {
        margin: 0;
        padding: 10px 15px;
        background:#eee;
        font-size:16px;
        font-weight: normal;
        color: #333;
    }
}

.propForm {
    padding: 10px;
    div {
        display: flex;
        align-items: center;
        margin-bottom:10px;
    }
    label {
        display:inline-block;
        width:80px;
        text-align: left;
        @include ellipsis;
    }
    input {
        width:150px;
    }
    span {
        display: inline-block;
        text-align: right;
        width:  45px;
        @include ellipsis;
    }
}

.container {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    left:310px;
    min-height: 450px;
    overflow:auto;
    padding:30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background:#fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

svg {
    margin-right: 10px;
}
